[2017-03-21 13:50] jadolg opened #3 "Backport to python 2.7"
Write modifications to backport this library for python 2.7

[2017-05-08 09:35] martinvt opened #4 "im_messages_others -> api call should be get"
Just found a small bug while using the library (works great by the way) : The request for getting 'others messages' should be get instead of post.

[2017-05-08 12:53] jadolg commented on #4
Thanks for the report ;)
Pushed already and the new version is avaliable on PyPi.

[2017-05-08 12:54] #4 closed

[2017-05-28 08:20] toabctl opened #6 "Provide a sdist tarball"
Please provide (in addition to the wheel file) a sdist tarball. That is useful for downstream distros (eg. openSUSE) to create packages...

[2017-05-29 11:54] jadolg commented on #6
done!
I'll try to keep updating everytime I update the package. Thanks for your help.

[2017-05-29 11:54] #6 closed

[2017-05-29 12:22] toabctl commented on #6
@jadolg there is even github/travis-CI integration. So you could setup travis to create/upload a new whl/sdist whenever you push a git tag to the repo...

[2017-05-29 13:19] jadolg commented on #6
I'll look into it. Truth is my internet connection is so poor that I haven't being able to properly open Travis

[2017-05-29 15:53] jadolg opened #7 "Write Tests"
Code has to be automatically tested

[2017-05-29 16:35] jadolg commented on #6
@toabctl can you open a new issue explaining what to do using Travis?

[2017-05-29 18:32] codeshard commented on #3
Not sure, but is not necessary. So far I've tested all users API and there's not any incompatibility with Python 2. Ah! I just added the encoding to the python file, ensuring the encoding 'cause you have some ASCII characters.

[2017-05-29 20:25] jadolg commented on #3
make PR with your changes ;) if it works fine with python2 I'll try building the wheel and upload it to pypi

[2017-09-15 20:52] jadolg commented on #7
I just started to write some tests

[2017-09-28 14:23] scream4ik opened #8 "Match error: Unknown key in field pass"
When i try to create new user i get error: {'error': 'Match error: Unknown key in field pass', 'success': False}

Are you sure that  "pass" is needed in dict reduced_args in __call_api_post method?

[2017-09-28 17:08] jadolg commented on #8
What version of Rocket.Chat are you using? Version 0.58 checks that you don't use **pass** on users.create. Turns out that there is a difference on the methods that use the password since some use *password* and some *pass* . Since **pass** is a reserved word in Python I had to inject it on the post requests every time you use the **password** param so POST works for all methods. I've done some wo

[2017-09-28 17:31] jadolg commented on #8
Just pushed to Pypi [version 0.6.2](https://pypi.python.org/pypi/rocketchat-API/0.6.2)
Please let me know if it works for you.

[2017-09-28 17:33] #8 closed

[2017-09-28 20:11] ali-mahdavi commented on #3
that's excellent 👍
best regards

[2017-09-29 07:48] scream4ik commented on #8
Many thanks. Now all fine

[2017-09-29 12:50] jadolg commented on #3
I believe it's usable on Python 2, you just have to deal with unicode errors by yourself. I'll close this issue.

[2017-09-29 12:50] #3 closed

[2017-10-06 14:46] monspid opened #9 "[BUG] users_info miss username parameter"
## You cannot pass username parameter, but api allows it.
### Now fuction looks like this:
[code]
### How to FIX:
[code]

[2017-10-06 15:57] jadolg commented on #9
Would you PR your changes please? Also modifying the test would be awesome too ;)

[2017-10-08 09:53] monspid commented on #9
It would be great if you push it as soon as possible to official repo, because it blocks me in my job.

[2017-10-09 19:27] #9 closed

[2017-10-09 19:49] jadolg commented on #9
merged and pushed to PyPi version 0.6.3. Nice Work! :+1:

[2017-10-09 19:51] jadolg commented on #7
only IM methods are left to be tested.

[2017-10-17 08:42] cbuctok opened #11 "Message attachments"
Hello!
It's not clear how to use "Message Attachments" with the API.
https://docs.rocket.chat/developer-guides/rest-api/chat/postmessage#attachments-detail
Could you please provide a simple example?

[2017-10-17 09:15] cbuctok commented on #11
After some playing around I got this working but things like '*something*_link' do not work.
Also how can I marsh the 'fields' part?
[code]

[2017-10-17 22:06] jadolg commented on #11
This is unclear on the documentation. I'll ask for help on https://open.rocket.chat/channel/python_rocketchat_api
Please go there to join the discussion.

[2017-10-20 20:11] jadolg commented on #11
Since you have not joined the discussion I'll post the answer that was given to me:
![image](https://user-images.githubusercontent.com/5427672/31839943-3b330fb4-b5b1-11e7-9b75-a9f29837b728.png)

[2017-11-05 16:02] #11 closed

[2017-12-06 01:58] dfpena opened #13 "Subscriptions?"
Probably not within the scope of this project, but is there a REST equivalent for unread messages?
https://rocket.chat/docs/developer-guides/realtime-api/method-calls/get-subscriptions/#get-subscriptions

[2017-12-06 21:40] jadolg commented on #13
I wrote a bot using the REST API, but what I actually did was reading all text from last message read timestamp to present

[2018-02-01 22:54] #7 closed

[2018-02-20 18:23] jadolg commented on #13
maybe this can help https://github.com/jadolg/RocketChatBot

[2018-02-20 18:23] #13 closed

[2018-03-01 13:55] monspid opened #14 "users_update has too much parameters"
As the title says.
Prove: https://rocket.chat/docs/developer-guides/rest-api/users/update/

now:
[code]

should be:
[code]

[2018-03-01 16:10] #14 closed

[2018-03-22 13:08] Sourabhah opened #16 "RocketAuthenticationException(No exception message supplied)"
[code]

I don't Know if this is right platform for my question , i am getting this error when i get auth_token and user_id can anyone help ,
Thanks in advance

[2018-03-23 13:27] RashmiGulati commented on #8
Hi @jadolg
I get a error when creating a user , when i print reduced_args in __call_api_post method i get correct credentials through which i can create manual account on my server
following is the error:
RocketAuthenticationException at /api/v1/chat/token/
No exception message supplied
its because user is not registered thats what i am sure of , can you help in this

[2018-03-23 13:28] Sourabhah commented on #8
Hi @jadolg
I get a error when creating a user , when i print reduced_args in __call_api_post method i get correct credentials through which i can create manual account on my server
following is the error:
RocketAuthenticationException at /api/v1/chat/token/
No exception message supplied
its because user is not registered thats what i am sure of , can you help in this

[2018-03-23 14:45] jadolg commented on #8
Hi @Sourabhah
what version of Rocket.Chat are you using and what version of the library?

[2018-03-23 15:45] jadolg commented on #16
Hi @Sourabhah
what version of Rocket.Chat are you using and what version of the library?

[2018-03-26 04:56] Sourabhah commented on #16
Library version rocketchat-API==0.6.5 and Rocketchat version {"info":{"version":"0.62.1"},"success":true}

[2018-03-26 14:49] jadolg commented on #16
@Sourabhah exactly what method are you calling in the library? Usually only login will raise a RocketAuthenticationException if user does not exist or you are using wrong credentials.

[2018-03-26 15:02] dangviettuan opened #18 "API upload missing"
API https://rocket.chat/docs/developer-guides/rest-api/rooms/upload/ is missing.

[2018-03-26 15:45] jadolg commented on #18
Will implement this ASAP. There are some missing endpoints I still have to implement. They should be here soon.

[2018-03-26 19:05] jadolg opened #19 "Create a way to manage API capabilities according to version"
There should be a way to safely protect the user from calling a method that has not being implemented in legacy API. If we detect a user is trying to call an endpoint that does not exist in current API level and exception should be raised.

[2018-03-27 03:00] dangviettuan commented on #18
I'm working around this API, in my case if I upload and UTF-8 file name (Japanese), in Rocket Chat I receive an strange characters like  �����.png

[2018-03-27 05:28] RashmiGulati commented on #16
Hi @jadolg ,
I am really sorry for bothering it was wrong credentials issue ,i was sending phone number as username with +91, which gave me this error , Thanks for your response

[2018-03-27 05:30] Sourabhah commented on #16
hey @jadolg ,

really sorry for bothering , it was my mistake to send phone number with +91 code , which rocket chat was not accepting , many thanks for your response

[2018-03-27 14:38] jadolg commented on #18
Can you try after this commit https://github.com/jadolg/rocketchat_API/commit/ea211acad0d1981821a25b82f195976f3b9b86f8 ?
New version is already published.

[2018-03-27 14:44] jadolg commented on #16
No problem :) Please report any issue to continue growing strong. Thanks.

[2018-03-27 14:44] #16 closed

[2018-03-28 04:42] dangviettuan commented on #18
File uploaded but after click down load I receive and �����.png.txt file. (filename is in Japanese)
I had faced with this issued, my solution is use requests_toolbelt to encode a multipart form, the file were uploaded right extension but strange name still exit.

[2018-04-12 23:30] BuZZ-dEE commented on #18
Upload does not work for me using the following method.:

[code]
I use the following code to call the upload function.:

[code]

I get the response:

[code]

But the following function does work.:

[code]

[2018-04-25 17:06] cesarandreslopez opened #20 "ImportError: cannot import name 'RocketMissingParamException' after upgrade in pip"
Hello!

After using this Python Wrapper for a while during several months without issues I find that after updating today using

``pip install rocketchat_API --upgrade``

I get:

[code]
In:
Python version: 3.6.4 (default, Dec 21 2017, 01:29:34)  [GCC 6.3.0 20170516]

Same identical source code and enviroment was working till today after this upgrade.

Any tips?

[2018-04-26 22:37] jadolg commented on #20
hi @cesarandreslopez, can you share the version you updated to?

[2018-04-27 08:14] kbojens commented on #20
I can confirm the exact same error with a fresh install of Version „rocketchat-API (0.6.8)”:

` Traceback (most recent call last):
  File "./foobar.py", line 4, in <module>
    from rocketchat_API.rocketchat import RocketChat
  File "/usr/local/lib/python3.5/dist-packages/rocketchat_API/rocketchat.py", line 5, in <module>
    from rocketchat_API.APIExceptions.RocketExceptions import RocketConnecti

[2018-05-02 10:54] Bart274 commented on #20
is there any solution for this issue?

[2018-05-02 11:42] cesarandreslopez commented on #20
@Bart274 while this gets resolved on the most recent version you can do:

` pip install rocketchat_API==0.6.7`

[2018-05-02 16:49] jadolg commented on #20
Sorry for the delay in my answer. I'm working on it but I'm having serious internet connection issues. The only thing that changed from the previous version is that I was trying to show markdown description on the new pypi so I added this line `long_description_content_type="text/markdown"` to setup.py and uploaded using `python setup.py bdist_wheel upload`.

[2018-05-02 17:12] jadolg commented on #20
well, I installed the wheel on a clean environment (from my harddrive, not from internet) and seems to be working perfect. This is what's installed on the environment:
[code]
and this is the code I tried:
[code]

[2018-05-02 17:15] jadolg commented on #20
Now I installed from internet and I'm getting the same error as you. I think this might be related with the new PyPi and the way I uploaded my package.

[2018-05-02 17:41] jadolg commented on #20
Well, seems that the problem was related to the way I was packaging/uploading to new PyPi. It does not seem to be compatible with good old `python setup.py bdist_wheel upload`. I uploaded a new version using Twine and it's working fine for me. Can anyone confirm after installing 0.6.9 ?

[2018-05-03 15:48] jadolg commented on #20
perfect! I will close this issue then. Thanks for your cooperation and support @all :)

[2018-05-03 15:48] #20 closed

[2018-05-03 19:48] pschmitt opened #22 "Git tags for releases"
I'm personally used to tagging commits in Git before releasing to Pypi. This way it is easier to understand what's in a specific version you install using pip. I see there are not tags after 0.6.2 (the current Pypi release is 0.6.9)

[2018-05-03 20:17] jadolg commented on #22
I totally forgot about this.

[2018-05-03 20:27] jadolg commented on #22
just pushed the last tags.

[2018-05-04 15:42] #22 closed

[2018-05-07 09:43] Bart274 opened #23 "users_update working?"
Hi,

Can anyone tell me how I should use the users_update call to add a role to a user? Atm I have this code:
[code]
However, I don't get any error but my user doesn't has his role added.

[2018-05-12 20:43] jadolg commented on #23
Hi @Bart274 sorry for my late response. I tried this and worked perfectly:
[code]
Just don't update everything, use only the one you actually need to update.

[2018-05-12 20:51] jadolg commented on #18
@dangviettuan after I tested with curl the error disappears so seems to be a python unicode problem. I'm currently working on it.

@BuZZ-dEE post message accept both room id or name but upload only accepts room id. Are you using the room id or the name?

[2018-05-12 21:14] jadolg commented on #18
@dangviettuan seems that the problem is a little bit deeper than my library. There is a problem in the requests library https://github.com/requests/requests/issues/3446about this and it falls back into a urllib3 problem https://github.com/urllib3/urllib3/pull/856
I'll keep an eye on it but in the meantime should find a workaround.

[2018-05-13 05:56] Bart274 commented on #23
Hi @jadolg
Thanks for your reaction, that solution worked perfectly 😊

[2018-05-13 05:56] #23 closed

[2018-05-15 00:36] BuZZ-dEE commented on #18
@jadolg i use the channel name.

[2018-05-25 17:58] jadolg opened #27 "Setup CI and CD"
It's needed to setup CI and CD for this project in order to automatize the testing/deploying to pypi process. This is difficult for me since testing requires to use a Rocket.Chat instance running. Can someone help here?

[2018-05-29 22:03] #27 closed

[2018-06-18 19:05] frostbtn opened #30 "Link to the API documentation is broken (again?)"
Something is wrong with the link to API docs from the `README.md`. Browsing from _Rocket.chat_ front page you would end up at `https://rocket.chat/docs/developer-guides/rest-api/` not at `https://docs.rocket.chat/developer-guides/rest-api` (which time-outs for me at the moment).

However there's [Oct 20, 2017 commit](https://github.com/jadolg/rocketchat_API/commit/f1abebc8d0a76b533ee605f7aa614a872

[2018-06-19 06:03] comodoro commented on #30
If I remember correctly, the old link did not work at that time, while the committed one did. The situation is reversed now, thanks for pointing it out.

[2018-06-19 14:31] #30 closed

[2018-07-16 04:49] mr-asher opened #34 "/api/v1/groups.info either roomId or roomName required"
From rocketchat.py line 454:

    def groups_info(self, room_id, **kwargs):
        """GRetrieves the information about the private group, only if you’re part of the group."""
        return self.__call_api_get('groups.info', roomId=room_id, kwargs=kwargs)

Above shows room_id as a required argument. The current rocketchat docs https://rocket.chat/docs/developer-guides/rest-api/groups/info/ requir

[2018-07-18 18:14] #34 closed

[2018-08-19 10:22] lorek123 opened #36 "TOTP missing in auth request"
Hello,
RocketChat supports TOTP, and currently this wrapper is missing possibility to add TOTP token to auth.
More details:
https://rocket.chat/docs/developer-guides/rest-api/authentication/login/#example-call---when-two-factor2fa-authentication-is-enabled

[2018-08-30 15:55] kirill-shtrykov opened #37 "Default log level - DEBUG"
In commit bd9a824328554ed0c1c629d5b396274df74e605a was enabled DEBUG level for package. In this way all calls to urllib3/requests logged to stdout. It's by design?

[2018-08-31 15:16] jadolg commented on #37
Hi @kirill-shtrykov
I changed the log level to WARNING on commit 065995910e352928ac02122ec38a5a5c8ef2c659 exactly because of this. DEBUG was too verbose and provided not important information for this project.

[2018-09-01 18:35] kirill-shtrykov commented on #37
It's great, thank you!

[2018-09-01 18:35] #37 closed

[2018-10-16 22:38] jadolg commented on #36
this is going to be tricky to test :thinking:

[2018-10-16 22:39] jadolg commented on #18
I'm still not finding a good way to do this. this one up there did not solve the issue for me :(
I'll need help to solve it

[2018-10-17 20:58] phe-sto opened #39 "Login request data"
Hi guys :)
In the _rocketchat_API_ in the constructor of the RocketChat, the login method fails with http 401 return code. The data form in _requests_ uses _username_ instead of _user_ no? If I use user _instead_ user of _username_ it works fine. What are you thinking about that?
Tchuss

[2018-10-17 21:01] #39 closed

[2018-10-17 21:01] phe-sto commented on #39
Sorry I got It :) Thanks

[2018-10-19 04:38] dangviettuan commented on #18
@jadolg can you describe more about your issue?

[2018-10-20 14:44] dangviettuan commented on #18
In #18 comment, I have a Django API to forward the upload file to RocketChat -> the file is from the request. If you wanna to implement a function for this lib, I think we just put the file as a fuction param. Ex: UploadFile(file, ....) and wrap my code to this fuction. After that, replace 'request.data['file']' in my code with 'file' param.

[2018-10-22 16:53] jadolg commented on #18
@dangviettuan yes, I tried changing the encoding as you did and file got uploaded but problems remained. I don't remember if I even pushed it :'(

[2018-10-25 02:58] dangviettuan commented on #18
@jadolg can you share the source code? Hope I can help 😄

[2018-10-25 14:14] jadolg commented on #18
@dangviettuan it seems that I trashed it since it was bigger than the one I'm using and the result is the same. Could you check the current method?

[2018-12-05 17:50] ramiromagalhaes opened #41 "RocketChat.login() fails"
login() method fails.

According to the documentation, the correct parameter name needed by the API during the login procedure, is "user", not "username".

[2018-12-11 17:57] jadolg commented on #41
parameter on the method is `user` but `username` is being passed to the server
[code]

[2019-02-04 14:37] smoehrle opened #43 "Rooms.info is missing"
Please add the rooms.info endpoint added with 0.72.0

Its similar to channels.info and groups.info but works for all room types.

See: https://rocket.chat/docs/developer-guides/rest-api/rooms/info/

[2019-02-04 17:52] jadolg commented on #43
Already added :)
Please update to version 0.6.26. Thanks for reporting it.

[2019-02-04 17:52] #43 closed

[2019-03-08 13:36] Klaws-- opened #45 "Workaround for broken LDAP authentication"
Yes, authentication over the REST API fails when Rocket.chat is configured to use LDAP. Link to the main issue: https://github.com/RocketChat/Rocket.Chat/issues/4961

Obviously, this is not an issue for this project, but since the bug fixing at Rocket.chat moves with glacial speed, a workaround would be nice.

To get REST API LDAP authentication to work, I subclasses RocketChat with a new subclass

[2019-03-09 18:59] jadolg commented on #45
Maybe we should start a Wiki with this kind of information.

[2019-03-09 19:18] jadolg commented on #45
I moved it here: https://github.com/jadolg/rocketchat_API/wiki/Workaround-for-broken-LDAP-authentication
I'm new to github wiki pages so I don't know if you can perform changes. If you can't, please submit them to me and I'll update ASAP.
Thanks for your contribution :)

[2019-03-25 09:45] TobiasKoller opened #46 "Initalize Live-Chat"
hi,

is there a way to start a new video live-chat?

[2019-03-25 15:10] jadolg commented on #46
No livechat method has been implemented so far. I'll set it as a task to be implemented as soon as possible.

[2019-03-25 15:11] jadolg opened #47 "Implement livechat methods"
https://rocket.chat/docs/developer-guides/rest-api/livechat/

[2019-03-26 21:56] #45 closed

[2019-04-01 11:32] farconada opened #48 "wrong content/type at room.upload"
I'm trying to upload a png to a room. The api uploads the file but the content type at download is text/plain Would you mind to fix it?
Is it possible to upload by channel name and not only roomId?

thanks

[2019-04-02 17:31] jadolg commented on #48
So far according to the docs you have to use the room id:
https://rocket.chat/docs/developer-guides/rest-api/rooms/upload/
I'll take a look at it ASAP.

[2019-04-02 17:32] jadolg commented on #48
Solved on 407dbacb31f6976bf6cb5e903df64168d7732448
Will push a new release now

[2019-04-02 17:53] jadolg commented on #48
https://pypi.org/project/rocketchat-API/
Already available on version 0.6.28
Can you confirm if it's working for you?

[2019-04-03 07:54] farconada commented on #48
Thanks, It works

[2019-04-03 14:50] #48 closed

[2019-04-22 15:21] smoehrle opened #50 "Different instances with different users not possible"
Hey,

due to the headers being declared like this, it is not possible to have multiple RocketChat instances with different users.
[code]
By creating and logging in with the second instance the headers of the first get overwritten. This can simple be fixed by moving the second line into the `__init__()`.

[2019-04-25 20:30] jadolg commented on #50
I made it here 078e582e56972d05793c8fd08574d41e1cb9052d
I'm deploying the new version now.
Thanks for your contribution :)

[2019-04-25 20:30] #50 closed

[2019-05-29 10:49] jubalh opened #54 "Unable to get room messages"
With the following test snippet

[code]

I get:

[code]

Am I doing something wrong or is the library not up to date?

[2019-05-29 21:17] jadolg commented on #54
Hi @jubalh
Are you sure you are passing the room id and not the room name??
The API supports both but only roomId is currently implemented.

[2019-05-31 06:27] jubalh commented on #54
Oops! No I used the room name. Thanks!

I used `pprint(rocket.channels_list().json())` now to get the ID and tried it with that. This works.
However the channel that I'm interested in is not listed there. In the webclient it has a lock in front of it, so I assume it's somehow hidden/private?

Is there still a way to get its ID?

[2019-05-31 15:09] jadolg commented on #54
If it has a lock it's not a channel but a group so you are not using the correct methods. For some reason the guys at Rocket.Chat decided to make all the methods for groups/channels separated. Now they have some methods with **room** which will work for both group and channel but still, most of them are separated.

[2019-05-31 20:15] jubalh commented on #54
Oh my bad! Sorry about the confusion. My team just switched to RocketChat and I didn't really inform myself about it and just assumed all terminolgy is the same as the one I am used to.

[code]

Works as expected. Thanks for you help!

[2019-05-31 20:15] #54 closed

[2019-07-10 06:29] fralau opened #56 "rooms_upload fails to recognize mime time (and improvement suggestion)"
When uploading a relatively simple jpg file, the correct mime type was not recognized and it was uploaded as text file.

To try a solution, I reimplemented the method using the magic library and it worked:

[code]

As a suggestion, I also introduced an optional up_name argument (filename to be given to rocket.chat), for added flexibility.

[2019-07-10 06:53] fralau commented on #56
Already solved in 0.6.28 (#48). I used an obsolete version.

[2019-07-10 06:53] #56 closed

[2019-10-18 08:04] Igor-ua opened #58 "Channels.counters"
Hi,
Could I ask you to update an API with:
[code]

Link: https://rocket.chat/docs/developer-guides/rest-api/channels/counters/

[2019-10-18 20:34] jadolg commented on #58
Hi @Igor-ua
This one is solved in 38bdfa61df09b05553d35be9fd794705c38ff282 :)
I'll make a release soon :)

[2019-10-18 20:34] #58 closed

[2019-10-18 22:11] jadolg opened #59 "Update to run with the latest rocket.chat version"

[2019-10-22 22:10] dudanogueira commented on #47
Hi @jadolg !

Great work! Thanks!

I started playing around with the Livechat API support:
https://github.com/dudanogueira/rocketchat_API/tree/livechat

Let me know if I am on the right track, and if I can contribute with your work!

[2019-10-23 18:46] jadolg commented on #47
That's fantastic @dudanogueira !
Please feel free to contribute as much as you want.
Just make sure the new code is tested and passing the travis/codacy steps and I'll merge your pull requests as soon as they hit my inbox :)

[2019-10-23 23:05] dudanogueira commented on #47
Hi @jadolg Can you point me how to properly run the tests locally?

Is there way to run the test multiple times? Otherwise I run into problems

I tried with
`python -m unittest discover tests/
`
but I ran into this problem:

FFEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
======================================================================
ER

[2019-10-24 02:54] jadolg commented on #47
Hi @dudanogueira
First you need to start a rocket.chat server. The version tests are using right now is **0.73.1** but I'm working on fixing the code already to be able to test with **2.1.0**. I always use **Docker** and **docker-compose** to start the rocket.chat server.
When the server is running I use **pytest** to execute the tests.
Make sure you have installed **pytest-cov pytest-flakes pytes

[2019-11-11 08:26] tamasgal commented on #59
Yes, the RocketChat API has changed from one day to another. Are there any updates planned?

[2019-11-11 11:49] jadolg commented on #59
I'm already working on it whenever I have some spare time. I'm having problems executing my tests right now and I believe it might be the API rate limiter. Need to find a workaround.

[2019-11-14 14:21] jadolg opened #61 "Refactor tests to eliminate duplicated code"
Need to make tests more generic like, for instance, testing for success would be easier if we just had a function for that instead of repeating it all over the file. Also making a superclass with the basic setup which is almost exactly the same for every test scenario would be nice.

[2019-11-14 14:26] jadolg opened #62 "Registering users in the tests is taking too long"
Every test case needs a registered user to be able to interact with the API. The first time the registration is done it's taking too long!

[2019-11-23 14:36] sistason opened #65 "settings-methods have no kwargs"
The settings-methods (get, update, list) do not have kwargs, so I cannot iterate with count/offset over all settings, when there is an API-limit.
Is there a reason not to have kwargs there (line 644-656)?
  If not, could you add them? Do you want a PR for this? :)

[2019-11-26 10:51] jadolg commented on #65
There is no reason not to have them.
Please, make a PR, make sure all the tests pass and I'll merge it :-)

[2019-12-10 15:10] jadolg commented on #65
solved in 4d6ecd3

[2019-12-10 15:11] #65 closed

[2019-12-10 15:12] jadolg commented on #46
@dudanogueira is taking care of this and it's being discussed in #47

[2019-12-10 15:12] #46 closed

[2019-12-20 14:33] jadolg commented on #61
covered by @sudoguy when moving from unittest to pytest

[2019-12-20 14:33] #61 closed

[2019-12-22 14:12] jadolg commented on #62
can no longer reproduce

[2019-12-22 14:12] #62 closed

[2019-12-22 14:13] jadolg commented on #59
running tests with the new server version is already working

[2019-12-22 14:13] #59 closed

[2019-12-22 15:14] tamasgal commented on #59
Wow thanks! Sorry, I could not find time to contribute. Did the public API change?

[2019-12-22 17:06] jadolg commented on #59
@tamasgal at least the part regarding the basics did not change, but we don't track deep changes in the API on the library. That's why the idea was always returning a `requests` object and let the developers deal with it.
It was only needed to deploy the test server with some special flags so it does not block the tests.
There is one method timing out now and for the moment I did not want to stop

[2019-12-22 23:51] tamasgal commented on #59
Ok thanks! ☺️

[2020-01-20 16:56] tsai0009 opened #70 "Having Trouble Authenticating in CentOS"
I am able to use this code in Windows to authenticate:

[code]

Same code in CentOS gives these errors:

[code]

[2020-01-21 12:50] jadolg commented on #70
Is this from your local installation or Docker/VM?
I need more details in order to be able to understand the issue.
It looks that the system running the code has no access to the Rocket.Chat server.
That's all I can say from the logs.

[2020-01-21 13:36] tsai0009 commented on #70
It's on a box that I connect via putty

[2020-01-21 14:00] #70 closed

[2020-03-11 11:38] Tanacki opened #72 "Do not call logging.basicConfig()"
Hey,

I believe that calling logging.basicconfig() inside packages should be treated as anti-pattern.

As basicConfig() can be called only once, importing this package may cause basicConfig in the projects to not be processed and thus logging to not work in not an obvious way.

More information on how to do it properly can be found here:
https://stackoverflow.com/questions/27016870/how-should-logg

[2020-03-11 14:46] jadolg commented on #72
travis is already building 1.2.0 which has this change.
It'll be deployed immediately :)

[2020-03-11 14:46] #72 closed

[2020-03-29 01:14] sistason opened #74 "channels_join API method missing"
The API endpoint [channels.join](https://rocket.chat/docs/developer-guides/rest-api/channels/join/) is missing.
I'll do a PR.

[2020-03-29 17:08] #74 closed

[2020-03-29 17:18] jadolg commented on #74
released on 1.3.0
thanks for your contribution :)

[2020-03-29 22:14] sistason opened #76 "users_get_avatar when unauthorized"
You can enable the setting AvatarBlockUnauthorizedAccess for the avatars of the users to not be publicly available by everyone on the internet. It's an almost always basic feature to activate.

Sadly, the link you get back from the API (/avatars/username) cannot deal with the headers we send to the API to authenticate (X-Auth-Token), so blocking you from accessing your avatar. It needs rc_uid and

[2020-04-05 17:44] jadolg commented on #76
Your changes are already merged so I'm closing this one.

[2020-04-05 17:44] #76 closed

[2020-04-29 05:33] xu4wang opened #78 "which python wrapper to use? rocketchat_API or rocket-python"
Dear All,

I'm new to RocketChat, looking for a python SDK for developing RocketChat bot.  I found two:

- https://github.com/jadolg/rocketchat_API
- https://github.com/Pipoline/rocket-python

Do you know which I should I choose? what's the difference?

Thanks in advance,
Austin

[2020-04-29 20:14] jadolg commented on #78
I'm probably too biased to answer this question :-)
I'll tell you why I decided to build this one this way.
My goals where:
1. Creating a wrapper that's easy enough for everyone to contribute (regardless of repetitions in code)
2. Testing as much as possible against the actual server and not some sort of mock (tests in this project are mostly integration tests and they run at least once a week on

[2020-04-30 00:40] xu4wang commented on #78
thanks @jadolg for your work on this.  The goal is great, I will verify it. :-)

[2020-04-30 13:26] #78 closed

[2020-05-06 10:47] xu4wang opened #79 "send richmessage"
I'm trying to port below program to use rocketchat_API

https://github.com/WideChat/python-richmessage-testbot/blob/master/richmessage_bot.py

Is there an API I can use to send a richmessage?

[2020-05-06 20:39] jadolg commented on #79
I'm not sure what you want to do there. What exactly is a "richmessage"? Can you send a "richmessage" using the sendMessage method of the API?
https://rocket.chat/docs/developer-guides/rest-api/chat/sendmessage/

[2020-05-07 01:28] xu4wang commented on #79
I want the Robot send a menu to the receiver, and the receiver can click the click inside the message and the selection of the receiver will be send back to the robot.

[2020-05-07 07:55] jadolg commented on #79
as far as I understood from that thread you should be able to do it on the attachments of the message, but I'm not sure how to because it's not documented on the API docs

[2020-05-07 08:54] xu4wang commented on #79
here there is something related to sending attachments

https://rocket.chat/docs/developer-guides/rest-api/chat/postmessage/#attachments-detail

is there a sample or test available for sending attachment? thanks @jadolg

[2020-05-07 09:03] jadolg commented on #79
since attachments are not mandatory on the message I doubt we have tested for it. It should not be difficult to try though. The only complex field which might be problematic is `fields` and if you find problems with it we can always analyze them and try to solve them.

[2020-05-07 09:09] xu4wang commented on #79
OK. I will try it and let you know the result. :-)

[2020-05-08 04:03] xu4wang commented on #79
@jadolg I've finished the test.

Please find below a screenshoot:
![image](https://user-images.githubusercontent.com/311397/81368904-95b87c80-9123-11ea-94b5-15555c7ca6a8.png)

And some code snipnet below:

[code]

There is one issue found, I was not able to send a richmessage without the text field.  I modified the SDK to handle this scenario. One pull request was issued for your evaluation.

http

[2020-05-08 09:53] jadolg commented on #79
that's fantastic!
could you add this to the wiki so it is recorded how to do it?
as soon as your pull request (#80) passes the tests I'll merge it.

[2020-05-08 15:26] xu4wang commented on #79
Sorry, off the topic, I was not able to find an Edit button here https://github.com/jadolg/rocketchat_API/wiki

Do I need to clone/modify and commit?

[2020-05-08 17:36] jadolg commented on #79
My bad, I had it set incorrectly

[2020-05-09 11:16] xu4wang commented on #79
https://github.com/jadolg/rocketchat_API/wiki/Send-richmessage

initial version added.
let's improve it step by step.

[2020-05-09 17:57] jadolg commented on #79
fantastic!
nice work!

[2020-05-28 08:48] jadolg commented on #79
I'm going to close this issue now as it's already documented how to send richmessages on the wiki.

[2020-05-28 08:48] #79 closed

[2020-05-28 08:49] #19 closed

[2020-05-28 09:31] jadolg commented on #36
I have not found a good way of implementing this with all the needed tests. Looks like the rest of the community is in the same position. As this is a very old issue I'll close it for now.

[2020-05-28 09:31] #36 closed

[2020-05-28 09:47] jadolg commented on #18
I can not reproduce this problem anymore.
![image](https://user-images.githubusercontent.com/5427672/83126314-f01c7b80-a0d8-11ea-9efb-9d0d064ab959.png)
The á character used to be problematic here because of encoding but the problem it's gone.
I'll close the issue now.

[2020-05-28 09:47] #18 closed

[2020-07-15 09:53] qkral opened #86 "missing findOrCreateInvite"
I would need to use the invite methods described here: https://docs.rocket.chat/api/rest-api#invites in particular the findOrCreateInvite that is described here in the REST API https://docs.rocket.chat/api/rest-api/methods/invites/findorcreateinvite. I don't see it in your python API. Could it be implemented?

[2020-07-15 10:02] qkral commented on #86
when I use your API in my django project I randomly get an error message sometimes saying:

Exception Type: | RocketConnectionException
/Users/quenti/anaconda3/envs/conf/lib/python3.8/site-packages/rocketchat_API/rocketchat.py in login, line 108
/Users/quenti/anaconda3/envs/conf/bin/python3

rocket = RocketChat('website', settings.SECRETROCK, server_url='https://chat.yyyy.com',session=session) …
▶

[2020-07-15 16:25] lucianomarav opened #87 "add"
# Rooms
def rooms_create_discussion(self, prid, t_name, **kwargs):
        """Creates a new discussion for room"""
        return self.__call_api_post('rooms.createDiscussion', prid=prid, t_name=t_name, kwargs=kwargs)

[2020-07-16 07:21] jadolg commented on #86
I'll try to implement the `findOrCreateInvite` as soon as possible. As for the error you are mentioning, how often are you executing it? I have had problems before because by default Rocket.Chat uses rate-limiting in their API. This was once a problem while running the tests and might also be what's going on.

[2020-07-16 07:22] jadolg commented on #87
Would you like to make a pull request? ;-)

[2020-07-16 09:14] qkral commented on #86
Thank you for findOrCreateInvite! I run the API every time I load a page and sometimes on the new page I have just loaded, I have to run the API one more time consecutively and this is indeed when I have troubles (but not always). I had to set a timer of 20s when I get the error and then I wait for 20s and then it works... Any way to change the API rate limit?

[2020-07-16 09:26] qkral commented on #86
Thanks I found the rate limiter options in the admin panel of the rocket chat and it indeed seems to solve the problem!

[2020-07-19 11:23] jadolg commented on #86
Hi @qkral
I'm working on it but looks like there's some problem on the API side.
I have drafted a PR https://github.com/jadolg/rocketchat_API/pull/88 but tests are not passing.
You can follow the discussion here https://open.rocket.chat/channel/python_rocketchat_api?msg=nEzzMv4AdP8QTap2b

[2020-07-22 10:00] #86 closed

[2020-07-22 11:35] jadolg commented on #86
the latest version (1.7.0) includes the change already.

[2020-07-22 12:16] qkral commented on #86
Thank you so much!

[2020-07-22 14:54] qkral commented on #86
I have just tried and it seems that the link it creates doesn't send to the room I put in rid but rather to /home every time. Have you tried the links? Does it work for you for private groups? If I compare the link I can make in the admin panel for the room I want to invite people to (https://go.rocket.chat/invite?host=chat.xxxx.com&path=invite%2FbG3Nub
) with the links the findOrCreateInvite make

[2020-09-26 16:34] jadolg opened #93 "Action to push pull requests notifications does not work for PRs not done by the creator"
probably has to do with forks not able to use the credentials.
Investigate further and find a solution

[2020-09-26 16:37] jadolg opened #94 "Some methods are now requiring TOTP to function"
Find out how to disable TOPT for these methods from configuration to be able to test them automatically.
The tests for the settings/user management methods have been disabled which might cause problems in the future.
See https://open.rocket.chat/channel/python_rocketchat_api?msg=HDH3YzShe3ZsZzkAW for more context and https://open.rocket.chat/channel/python_rocketchat_api?msg=K3wQEE68sIAh2t9oG for

[2020-09-26 16:40] jadolg opened #95 "Separate the code in different files to make it simple to contribute"
Right now all the code lives in one big file which makes it difficult to navigate.
Try building a base with the authentication and configuration built-in and go from there.
Keep an eye on the tests!

[2020-09-28 18:52] leolage commented on #8
Ola, descobri o problema, falta fechar uma chave na documentacao original do site! Segue o codigo corrigido, por favor corrijam la na documentação oficial. Obrigado Daniel e Zac por me ajudarem nisto.

curl -X POST \
-H "Content-type:application/json" \
https://chat.hostone.com.br/api/v1/livechat/visitor -d '{"visitor":{"name":"Leonardo","email":"visitor@rocket.chat","token":"djh38jsd993","phone":

[2020-09-28 18:53] leolage commented on #8
Ola, descobri o problema, falta fechar uma chave na documentacao original do site! Segue o codigo corrigido, por favor corrijam la na documentação oficial. Obrigado Daniel e Zac por me ajudarem nisto.

curl -X POST
-H "Content-type:application/json"
http://localhost:3000/api/v1/livechat/visitor -d '{"visitor":{"name":"Leonardo","email":"visitor@rocket.chat","token":"djh38jsd993","phone":"55 515555

[2020-10-08 14:10] #93 closed

[2020-10-08 16:18] #94 closed

[2020-10-16 19:04] jadolg commented on #87
Added in https://github.com/jadolg/rocketchat_API/pull/98
Will merge after the CI is done

[2020-10-16 19:05] #87 closed

[2020-11-06 19:53] jadolg opened #101 "Migrate to github actions"
Travis has become super slow when building the project. A faster and better way of building, testing, and publishing would be great, and what better than using GitHub actions directly.

[2020-11-15 18:12] jadolg commented on #101
The whole workflow is now working properly on github actions. It should be faster to contribute now.

[2020-11-15 18:12] #101 closed

[2020-11-24 14:12] HoffErik-JohnerInst opened #109 "rocketchat.APISections missing"
Hello,

I have a program that ran without issues until I just updated my imports. Now it's throwing

`from rocketchat_API.APISections.assets import RocketChatAssets
ModuleNotFoundError: No module named 'rocketchat_API.APISections'`

This is my code:

[code]

I am using
Python 3.9
rocketchat_API 1.12.0

As I already said: It ran well until I updated.
Is there any way to get this running again?

[2020-11-25 20:39] jadolg commented on #109
Solved in 7f72ac0
I forgot to add the new package to the `setup.py` file :facepalm:
Thank you so much for reporting it :smile:

[2020-11-25 20:39] #109 closed

[2020-11-26 07:46] jadolg commented on #95
solved in #107

[2020-11-26 07:46] #95 closed

[2021-01-19 14:46] jsalatiel opened #110 "Please add groups.addLeader and groups.removeLeader api calls"
Would it be possible to add the following api calls?

https://docs.rocket.chat/api/rest-api/methods/groups/addleader
https://docs.rocket.chat/api/rest-api/methods/groups/removeleader

[2021-01-20 06:34] sctEdwin commented on #110
@jsalatiel
You can make yourself the wrapper function for addleader and removeleader inside the script groups.py.
(You can refer to how the other functions are wrote, they look quite similar)
https://github.com/jadolg/rocketchat_API/blob/master/rocketchat_API/APISections/groups.py

Once you have those functions added, you can use those functions right away.
(Since "RocketChat" class already contai

[2021-01-20 10:17] jadolg commented on #110
Version [1.13.0](https://pypi.org/project/rocketchat-API/) is published with these changes :smile:

[2021-01-20 10:17] #110 closed

[2021-01-22 15:29] JayBraker opened #112 "Implement API Endpoint "chat.sendMessage""
This package works perfect but I need to make use of the "chat.sendMessage" Endpoint in the Rocket.Chat API.
For the moment I crudely implement the method after installing the package but I guess its to hacky to be pulled.

My implementation just passess a give message dict to the API which works well but doesn't provide input validation or similar.
I would appreciate any form of implementation an

[2021-01-27 14:26] sbor23 opened #114 "Releases"
Hi @jadolg

Thanks so much for this wonderful library.

I came to notice that all releases after 1.10 are not based on tags available in this repo.
There is no way to compare different versions against each other this way.
Did you maybe make the releases locally and forgot to `git push --tags`?
It would be great if you could publish them.

If I could make a wish, having a changelog would greatly s

[2021-01-27 15:40] #112 closed

[2021-01-27 15:43] jadolg commented on #114
Oh, I stopped tagging every release after moving from travis to github actions for the CI. (The process used to rely on tags for deployment but now it does not)
I can quickly add the tags because they correspond to the bump version commit messages.

[2021-01-28 10:11] sbor23 commented on #114
That would be awesome, thanks!

[2021-01-28 11:19] jadolg commented on #114
I added the tags to the releases between 1.10.0 and 1.14.0
I still need to think about how I want to do it automatically.

[2021-01-28 12:40] sbor23 commented on #114
You probably want to
1. create the bump version commit
2. push the tag
3. have a [release workflow](https://github.com/marketplace/actions/create-a-release) automatically create the release

[2021-01-29 21:38] jadolg commented on #114
I was doing exactly that, but most of the time just forgot to tag the commit, and then my code was not released. So the new pipeline only needs for me to bump the version in the setup.py file and I'm done. I'll think about how can I do both at the same time so it does not depend on my terrible memory.

[2021-02-08 19:37] lcundiff opened #117 "Logging a user into rocketchat and directing them to page."
I was wondering if it was possible to log a user in for them so that they don't need to enter in their login credentials?

I used:
with sessions.Session() as session:
   `ROCKET = RocketChat(
        "email",
        "pw",
        server_url=ROCKET_URL,
        session=session,
    )
`
to log a user in using the API, but if I direct them to a rocket chat page, they aren't logged in as if they had

[2021-02-09 23:37] jadolg commented on #47
@dudanogueira since it was so difficult to integrate these changes with the new versions of the library I decided to go ahead and move the development to another PR. I'm working on it in https://github.com/jadolg/rocketchat_API/pull/116
Please have a look and tell me if anything looks wrong.

[2021-02-09 23:53] jadolg commented on #117
AFAIK, the REST API does not provide anything like that. It does provide other authentication mechanisms https://docs.rocket.chat/api/rest-api/methods/authentication but they are impractical/impossible to test and nobody has asked for them so far.

[2021-02-10 06:35] lcundiff commented on #117
Thank you for responding. If its impossible to login users so they can see their messages, then perhaps its possible for me to use the API to get the messages and display them on the UI of the app. Would you say thats the only work around for a user to see their messages without them logging into rocket chat themselves?

Again apologies for my ignorance in advance.

[2021-02-10 11:04] jadolg commented on #117
Oh, I think I misunderstood you. A user can login directly with the API and retrieve their messages. They don't need to open the Rocket.Chat page for anything to do this.

[2021-02-11 00:15] lcundiff commented on #117
Yes but I am trying to display the messages to them. I'd prefer to simply use the rocket chat interface itself (hence directing the user to the channel), but judging by what you described, that isn't possible. So I assume the only way to show a user their messages would be to create my own display of the messages correct?

In short, I am asking how to allow a user to use rocketchat messaging UI wi

[2021-02-11 11:50] jadolg commented on #117
Using the API, yes, the only way I'm aware of would be to create your own interface to show them

[2021-02-11 12:00] #47 closed

[2021-03-05 07:00] kaishijeng opened #119 "how to send a picture in a message"
How to use chat_post_message to send a picture which is stored in a local directory?

Thanks,

[2021-03-19 18:23] seattle commented on #119
+1

[2021-03-21 22:00] jadolg commented on #119
[The documentation](https://docs.rocket.chat/api/rest-api/methods/chat/postmessage) does not say if this can be done. AFAICT, it is only possible to do it from a URL like this:
[code]
Or you can use `rooms_upload` instead, but in this case, it shows as a file so it won't show a preview.

[2021-03-21 22:04] #119 closed

[2021-03-26 19:30] athola opened #120 "Cannot login with username and password due to AuthenticationException"
Currently logging in with the following form:

`rocket_chat = RocketChat('user', 'password', server_url='https://path.to.url')`

and I get the following exception:

`raise RocketAuthenticationException()`

when doing a curl request, I can login doing the following:

`curl -H 'Content-type:application/json' https://path.to/url/api/v1/login -d '{"user": "user1", "password": "password1"}'`

but canno

[2021-03-26 20:38] athola commented on #120
PEBKAC, closing issue

[2021-03-26 20:38] #120 closed

[2021-03-31 07:28] sbor23 commented on #114
Thanks for the quick help!

[2021-04-21 00:41] #117 closed

[2021-05-06 07:58] hrapanoel opened #121 "RocketConnectionException when login in"
I am trying to login with

```RocketChat(username, pw, server_url=server_url)```

and I get the following error

[code]
Then I tried a curl request using

```curl https://path.to/url/api/v1/login -d "user=myuser&password=mypassword"```
and
```curl -H 'Content-type:application/json' https://path.to/url/api/v1/login -d '{"user": "myuser", "password": "mypassword"}'```

Both give me:
[code]
 I was ab

[2021-05-21 17:13] andynd opened #122 "Handel pagination / better abstraction in general"
Right now I have to do stuff like that to get all settings in a dict:

[code]

Instead I'd realy prefere to do something like that:

[code]

Same for user/room/channel/...-lists

Meaning it would be great if the API wrapper would handel pagination and checking of return values. Right now the wrapper does little more than URL generation for the python requests module. It would be great to have an a

[2021-05-21 20:27] xoxloviwan opened #123 "SyntaxError: invalid syntax"
https://github.com/jadolg/rocketchat_API/blob/46eedfc2a392021b0d668dbd576344895335c8bf/rocketchat_API/APISections/livechat.py#L21

When I run my code on python 3.5.2 and rocketchat_API 1.15.0 and requests 2.25.1 I got

[code]

[2021-05-22 13:32] andynd opened #124 "channels_add_leader and channels_remove_leader are missing"
title says it all

[2021-05-23 18:53] xoxloviwan commented on #123
I found the answer here: https://stackoverflow.com/questions/42126794/getting-an-invalid-syntax-when-trying-to-perform-string-interpolation

[2021-05-23 18:53] #123 closed

[2021-05-29 11:46] jadolg opened #125 "rooms.createDiscussion tests are failing"
because of a change in the API, calling `rooms.createDiscussion` does no longer return `fname` with the parameter we pass to the API but uses a random generated ID.

How to reproduce without the wrapper:
[code]

Failing build: https://github.com/jadolg/rocketchat_API/runs/2697572146?check_suite_focus=true

[2021-05-29 16:25] jadolg commented on #121
This looks like you are having issues with your server setup. You should get a `RocketConnectionException` if the lib is not able to login to the server. It can be the credentials are wrong or the API is just not working. From your curl attempts below, I would say it's the second.

[2021-06-02 06:28] #124 closed

[2021-06-02 06:38] jadolg commented on #125
Fixed in Rocket.Chat

[2021-06-02 06:38] #125 closed

[2021-06-02 06:39] jadolg commented on #124
Published in version 1.16.0

[2021-06-02 06:41] jadolg commented on #122
I understand the problem, but I'd like to maintain parity with the API regarding this. I would not like to break projects already using these methods the way they are. Maybe we could add extra methods with this behavior for every method that supports pagination?

[2021-06-18 18:07] redpillquants opened #127 "Adding User To Groups Suddenly Broken"
I've been using rocketchat_API very successfully for the past year. The way I manage users is done via an admin python script that has worked flawlessly thus far.

Most recently I realized that creating a new user via my admin script did not result in that user being added to the necessary groups. This is the call being made:

api.groups_invite('group_name', userid).json()

I have not made any cod

[2021-06-22 10:11] redpillquants commented on #127
We've dug a big deeper and the problem seems to stem from the following:

When users are added to a channel, they have to be added by the userid which is hashed. The channels are also hashed and similarly the channel ID hash has to be found to add someone to a channel. The channel ID hash search method is working fine... however NOT the method for finding the hashed userid.

Our script has a metho

[2021-06-22 13:22] JayBraker commented on #127
So if I got this right, you have a custom script that creates a new user, then searches for the group-id and finally searches for the user-id of the user it just created?
Keep in mind this is just a wrapper for (almost) all of RocketChats official endpoints.

You have to conform to the specified parameters: To invite a user to a group, you have to specify the room-id and the user-id.
(https://deve

[2021-06-22 13:37] redpillquants commented on #127
Right - I think we are in sync on the general steps involved. And again, this has worked just fine for over a year now.

When I said partial I meant that it's returning users but not ALL of them. FYI - the bot that's doing the query has admin permissions. There's no reason it should only be able to pull a partial list of all users in the system.

[2021-06-25 22:27] kirkjantzer opened #128 "rooms.upload API supports message and description, it seems this doesn't"
Hi,
It looks like the Rocketchat API rooms.upload method supports passing a message and description when uploading a file: https://developer.rocket.chat/api/rest-api/methods/rooms/upload
However when I use this pypi package, it seems to only support uploading an image without a message or description:
rooms.py:
[code]
Would it be possible to add the ability to add a message and/or description when

[2021-06-29 21:04] redpillquants commented on #127
Any more insights that would help?

[2021-07-01 13:02] JayBraker commented on #127
Have you tried calling the API Endpoint for List Users via alternative method (i.e. cURL) to verify the error is with this wrapper?
Sorry haven't gotten around to recreate yet

[2021-07-01 13:12] redpillquants commented on #127
Understood - I hired a top RC contributor and he narrowed it down to this:

https://github.com/RocketChat/Rocket.Chat/pull/21469

If we figure out a fix I will let you know.

[2021-07-04 11:28] jadolg commented on #128
Hi @kirkjantzer :wave:
the wrapper is designed this way. Only the required parameters are explicit, but you can add the needed parameter directly. that's why `**kwargs` is there.
You can call the method with `msg="a text message"` and it should land in the right place.

[2021-07-04 11:42] jadolg commented on #127
Oh, it seems you might be hitting a pagination problem.
users.list is paginated. This means it will only return a partial list of users every time.
We are still not handling pagination in a beautiful way in the wrapper, but you can use this information to get the whole list https://developer.rocket.chat/api/rest-api/offset-and-count-and-sort-info

[2021-07-04 12:23] mmehrle commented on #127
I found the solution actually. It was the REST API setting in the admin section of RC which is limited to 50 by default. I assume that is what you are referring to, Jadolg?

Anyway, I set it to 1000000 now and it's working again.

[2021-07-04 15:41] jadolg commented on #127
Well, yes and no :smile:
Doing it like this solves the problem but your script is not generic enough to work on other servers.
Using the API pagination would be a better solution.
Anyway, if it works for you then that's great :smile:
I'll close the issue.

[2021-07-04 15:41] #127 closed

[2021-07-04 17:41] redpillquants commented on #127
Understood and I appreciate your pointer, Jadolg. I don't run this script anywhere else so this fix should suffice.

[2021-07-25 16:41] JayBraker opened #129 "Endpoint users.update"
When calling users.update with the following call:
`logged_rocket.users_update(user_id=me["_id"], data={"name": "Lalalalalalal"}).json()`
It doesn't seem to update the name or any other attribute included in the data dict.
However calling the endpoint directly by `logged_rocket.call_api_post("users.update", userId=me["_id"], data={"name": "Lalalalalalal"}).json()` works as expected.
Any ideas why?

[2021-07-25 16:42] JayBraker commented on #129
Esp weird as the test didn't fail...

[2021-07-25 16:47] JayBraker commented on #129
Oookay not sure if this is intended.
For reference to the dev doc: https://developer.rocket.chat/api/rest-api/endpoints/team-collaboration/users/update

Expected params are
- userId (required)
- data.name (optional)
- data.mail (optioal) etc

Not encapsulating name, mail, roles etc in a JSON object/dict works. However this is not the format described in the docs.

[2021-08-05 00:34] #121 closed

[2021-08-05 08:31] tamasgal opened #132 "API incompatibility in recent versions of RocketChat"
Sorry for the very generic title, I am still not able to hunt down the exact cause but a few days ago our RocketChat server started to produce tons of error messages (several GB of `syslog`/`daemon.log` per day, see https://github.com/RocketChat/Rocket.Chat/issues/22818) and finally I found the culprit: a RocketChatBot which uses `rocketchat_API` and gets rejected by the server.

I assume that som

[2021-08-09 00:35] #122 closed

[2021-08-11 06:13] lsaint opened #135 "Please add users.createtoken api"
https://developer.rocket.chat/api/rest-api/endpoints/team-collaboration-endpoints/users/createtoken
https://developer.rocket.chat/api/rest-api/endpoints/team-collaboration-endpoints/users/removeothertokens

thanks

[2021-08-11 09:51] #135 closed

[2021-08-13 08:53] lsaint opened #136 "please add team related API"
https://developer.rocket.chat/api/rest-api/endpoints/team-collaboration-endpoints/teams/create

[2021-08-26 11:20] djkcyl opened #137 "cant send image"
![image](https://user-images.githubusercontent.com/59153990/130954042-8ca93c0f-db7a-4fb7-9221-a35861c39d3e.png)

[2021-08-26 12:01] #137 closed, assigned to nobody

[2021-09-03 13:15] jadolg commented on #132
Hi, which version of the library and rocket.chat server are you using? The library gets tested weekly against the latest server version and I have not spotted this problem.

[2021-09-03 13:21] jadolg commented on #129
Looks like I made an incorrect assumption when coding this endpoint and mapped anything different from the userId into data. That might be the reason why the test for this method stopped working specifically for the name even when the name. Let me give it another look.

[2021-09-03 13:39] jadolg commented on #129
So, actually, it seems to be working now. I just wrote the method in a way you don't need to create a data object, so an update would go like:
[code]

[2021-09-03 13:39] #129 closed

[2021-09-03 14:02] jadolg commented on #136
Hi, is there anything specific from this API that you need besides the endpoint to create a new team?
The create one is on it's way https://github.com/jadolg/rocketchat_API/pull/138

[2021-09-03 20:25] clementduveau commented on #132
Which endpoint are you calling ? I am currently investigating something that could be related.

On my Rocket, it fails with the same cryptic message when I call channel.history WITH latest/oldest params set.

[2021-09-04 01:52] lsaint commented on #136
nice, it meet my needs now, thank you

[2021-09-05 14:29] clementduveau commented on #132
Seeing [the Rocket.Chat issue #22713](https://github.com/RocketChat/Rocket.Chat/issues/22713), it is pretty safe to say that the issue you are facing come from Rocket.Chat itself.
The parameter "oldest" in all the xxx.history endpoints leads to an error in version 3.16. Version 3.17 seems to fix it.

[2021-09-05 16:50] tamasgal commented on #132
Yes, I confirm that it's fixed in 3.17!

[2021-09-05 16:50] #132 closed

[2021-09-08 07:38] #136 closed

[2021-09-08 07:38] #128 closed

[2021-09-30 12:19] moobyfr opened #139 "REST API for group: kwargs are not the displayed one in exception"
Using groups_members  I was confronted to the name of the variables

I can use `groups_members(group="foo")`, but not `groups_members(roomId="bar")`
using the second call, I get an exception
`RocketMissingParamException: roomId or group required`

THE REST API allows usage of roomId

The current workaround is to use  `groups_members(room_id="bar")`

[2021-10-01 07:16] jadolg commented on #139
We use only the required parameters for every endpoint explicitly in code. This means we will be specifically checking for `group` or `room_id`. In the end, `room_id` is transformed to `roomId` under the hood so it basically is the same. The idea was to use a naming schema following as much as possible Python's standards.

[2021-10-03 15:15] jadolg opened #143 "Setup tests for several python versions"
In order to be able to guarantee the lib will work on any supported python version

[2021-10-03 15:37] #143 closed

[2021-11-25 01:01] japrogramer opened #150 "How to pass an Auth token to RocketChat API"
Im looking to use the oauth token to then call /api/v1/me to register a user.

How do I make that call to RocketChat with the Auth Token instead of using username and password?

[2021-11-28 20:22] jadolg commented on #150
You could create a RocketChat object with no credentials and then set the `auth_token` for your object manually. There's no method for that because you can just directly access the attribute of the object.

[2021-11-28 20:22] #139 closed

[2021-11-29 00:36] japrogramer commented on #150
thanks, that makes sense.

[2021-11-29 00:36] #150 closed

[2021-12-19 23:39] qazaqstan2025 opened #152 "[Security] Workflow stale.yml is using vulnerable action actions/stale"
The workflow stale.yml is referencing action actions/stale using references v1. However this reference is missing the commit [af4072615903a8b031f986d25b1ae3bf45ec44d4](https://github.com/actions/stale/commits/af4072615903a8b031f986d25b1ae3bf45ec44d4) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upgrad

[2022-02-09 02:22] NickCellino opened #153 "login method on RocketChat does not use timeout value"
It looks like the login method here (https://github.com/jadolg/rocketchat_API/blob/ba8fd19d82b3c13c6a7433c4c43a946cbe1d5f66/rocketchat_API/APISections/base.py#L118) directly uses `requests.post` instead of using `self.req.post` and it does not pass in the class's `timeout` value.

I am testing out what happens if my app's backend server loses connectivity to my Rocketchat server and currently, if

[2022-02-13 16:24] eslam-gomaa opened #155 "`.users_list()` doesn't return all the users, is there away to to return the full users list ?"
Hello,

What is the method name to get the full list of users ?

[2022-02-13 17:04] eslam-gomaa commented on #155
sorry, found it

[code]

[2022-02-15 14:29] jadolg commented on #153
I'll just make it so login uses the class level timeout

[2022-02-15 14:31] #153 closed

[2022-02-15 22:49] NickCellino commented on #153
thank you 👍

[2022-02-26 23:38] andynd opened #159 "Role endpoints are missing"
All endpoints at https://developer.rocket.chat/reference/api/rest-api/endpoints/team-collaboration-endpoints/roles-endpoints are missing

[2022-03-06 07:52] eslam-gomaa commented on #155
Thanks @jadolg

setting the count to `0` returns all of the users, [Ref](https://developer.rocket.chat/reference/api/rest-api/endpoints/other-important-endpoints/offset-and-count-and-sort-info#settings)

[code]

[2022-03-06 07:52] #155 closed

[2022-03-28 09:22] jadolg commented on #159
Solved in https://github.com/jadolg/rocketchat_API/pull/160
I'll be publishing a new version with these changes today.

[2022-03-28 09:43] jadolg commented on #159
Version 1.24.0 already contains this changes.

[2022-03-28 09:43] #159 closed

[2022-04-19 18:31] Podolyan98 opened #162 "Custom channel id"
When creating a channel, you must specify a name:

[code]

Is it possible to specify a custom id for a channel?

[2022-04-24 06:52] jadolg commented on #162
According to [the docs](https://developer.rocket.chat/reference/api/rest-api/endpoints/team-collaboration-endpoints/channels-endpoints/create#example-call) this is not possible. The `id` is calculated by the server. Maybe open an issue with rocket.chat if you need this feature.

[2022-04-24 06:52] #162 closed

[2022-07-29 16:30] OleksaKond opened #167 "Get unread messages"
Hi,
I would like to know if there is any possibility to check for any unread messages (not only in one room, but in general)
If not, is there any API, that can return something like {message: {from: roomId}, {message: messageText}} etc.
Thanks

[2022-07-30 20:25] jadolg commented on #167
Maybe the subscriptions API is what you are looking for but I'm not completely sure. Maybe check the [API docs](https://developer.rocket.chat/reference/api/rest-api) for the correct endpoint and if we don't have it implemented we make it happen.

[2022-07-30 20:25] #167 closed

[2022-08-09 13:34] jadolg opened #168 "test_settings_oauth is broken in rocket.chat 5.0"
https://github.com/jadolg/rocketchat_API/blob/858709e06979ec406cadad37bf5fa8c837676aa9/tests/test_settings.py#L22

[2022-08-09 13:39] jadolg commented on #168
@sistason could you please check this up? I'm unable to find good documentation about this and it started failing on the latest releases. You might have issues with this in your own codebase if you updated to 5.0 already.

[2022-08-09 16:56] sistason commented on #168
I will check if I find something to fix this as soon as I can (next couple of days)

[2022-08-12 11:44] sistason commented on #168
I spend 2h looking at this mess, but did not find a solution.

I got the method.calls to work again, but the settings-endpoints for (oauth-)services (service.configurations + settings.oauth) do not return any services anymore, even complete, working oauth configs.

Will try to debug more later, I figure that we need to set some more fields in order for them to show up (https://github.com/RocketCha

[2022-08-14 18:46] jadolg commented on #168
Maybe someone at https://open.rocket.chat/channel/python_rocketchat_api can help.

[2022-09-03 13:36] NguyenDOanNhan opened #176 "Create Outgoing rocket chat Error!"

[2022-09-03 22:51] jadolg commented on #176
I'm not sure what this is about. Could you please elaborate?

[2022-10-03 06:39] Dynnammo opened #178 "Add connection via token in README"
Currently, we _think_ by reading the README file that only user+password login in possible, however the wrapper does include the token+user_id way allowed by Rocket.Chat.

It could be great to add it in the login code chunk in the README

[2022-10-07 19:54] jadolg commented on #178
Added in #181

[2022-10-07 19:54] #178 closed

[2022-10-17 20:57] onkelbeh opened #184 "'README.md' is missing in Pypi's SDIST"
[code]

[2022-10-17 21:02] onkelbeh commented on #184
Yes, on 0.6.1. This is the version requested by Home Assistant :-)

[2022-10-18 09:27] jadolg commented on #184
Well, I tried to fix it and I actually made it worse.
Turns out I can't really replace a file that's already uploaded to pypi.
I generated a new package and tried to upload it but it complains the file is already there.
I deleted the file from pypi and now it complains about the name being used already.

So now not even the old one works.

[2022-10-18 09:29] jadolg commented on #184
It doesn't seem to be fixable. Please consider updating to a newer version. 0.6.1 is possibly not compatible with modern rocket.chat versions.

[2022-10-18 13:58] onkelbeh commented on #184
Sorry that I didnt explain that more datailed yesterday, but was very tired after going through 800 commits of outdated packages as a big cleanup job (2 days in a row) :-)

I don't use your module myself, I just wanted it for completeness of [Home Assistant on Gentoo Linux.](https://github.com/onkelbeh/HomeAssistantRepository), I already thought that it will not be usable anymore as I scrolled thr

[2022-10-18 13:59] onkelbeh commented on #184
PS I also believe that a released package cannot (at least should not) be changed.

[2022-10-18 20:58] jadolg commented on #184
The API itself is backward compatible only till some point.
0.6.1 was released before Rocket.Chat reached version 1 (currently it's already on version 5)
I was planning to approximate my versioning to theirs but it never went that smooth since I don't actively release any new versions unless there's a need.

[2022-10-27 14:34] nalakawula opened #185 "How to auto answer channel message"
Hi, thank you for your awesome project. I am not expert in code, but i need a simple auto answer a message in a channel but i don't know how to do that. Would you mind to give example code?

Something like [this](https://github.com/RocketChat/Rocket.Chat.js.SDK#super-quick-start-30-seconds) but in python.

Thanks

[2022-10-30 19:38] jadolg commented on #184
I'm going to close this since there's no possible solution.

[2022-10-30 19:38] #184 closed

[2022-10-30 19:40] jadolg commented on #185
I made this some time ago https://github.com/jadolg/RocketChatBot
I think it might help.
It doesn't do everything you need but it's a start.

[2022-10-30 19:40] #185 closed

[2022-10-31 13:30] seyed-dev opened #189 "Rocketchat Bot"
# RocketPyBot
## Python lib for create rocketchat bot with getupdate like TelegramBots
i create this lib for Making a robot in the simplest way

github : https://github.com/seyed-dev/rocketchatbot
pypi : https://pypi.org/project/pyrocketbot/

[2022-11-20 21:44] jadolg commented on #189
Hey @seyed-dev :wave:
nice job!
Would you like to add it to our wiki?
I think it'd be a good addition to our project wiki here on GitHub so others can find it https://github.com/jadolg/rocketchat_API/wiki
There's not much going on there and maybe we can start filling it with projects and examples.
wdyt?